.categories-search-body {
    top: 0;
    width: 79.7%;
    position: relative;
    margin-left: auto;


    height: 625px;
    visibility: visible;
    -webkit-box-shadow: 0px 17px 25px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 17px 25px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 17px 25px 5px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    margin-right: auto;
    display: block;

    /* z-index: 35; */
    overflow: hidden;
}

.categories-search-body {
    z-index: -1 !important;
}


.categories-search-body:before{
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: #dee1ed;
    z-index: 52;
    top: 0;
    left: 0;
}

.categories-search-left {
    width: 23.5%;
    display: inline-block;
    height: 100%;
    position: relative;
    left: 0;
    overflow: scroll;
    border-right: 1px solid #dee1ed;
}


.categories-search-left-title-circle {
    /*display: inline-block;*/
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 30px;
    display: none;
}

.categories-search-left-title {
    width: calc(100% - 40px);
    /*display: inline-block;*/
    height: 40px;
    line-height: 40px;
    padding: 20px;
    display: none;
}

.category-search-keyword {
    display: inline-block;
    /* vertical-align: middle; */
    /* line-height: 18px; */
    margin-left: 20px;
    position: relative;
    left: -35px;
    -webkit-transition: left ease 0.2s, visibility 0s ease 0s;
    -moz-transition: left ease 0.2s, visibility 0s ease 0s;
    -ms-transition: left ease 0.2s, visibility 0s ease 0s;
    -o-transition: left ease 0.2s, visibility 0s ease 0s;
    transition: left ease 0.2s, visibility 0s ease 0s;
}

.category-search-amount {
    display: inline-block;
    border: 1px solid #dee1ed;
    position: absolute;
    right: 20px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 3px;
    -webkit-transition: color ease 0.2s;
    -moz-transition: color ease 0.2s;
    -ms-transition: color ease 0.2s;
    -o-transition: color ease 0.2s;
    transition: color ease 0.2s;
}

.categories-search-left-category {
    position: relative;
    padding: 10px 20px;
    height: auto;
    line-height: 29px;
    cursor: pointer;
    z-index: 30;
    border-bottom: 1px solid #dee1ed;
}



.categories-search-left-category::after {
    content: '';
    display: block;
    clear: both;
}

img {
    vertical-align: inherit;
}


.hotsale-recommended-deals-all {
    width: calc(100% - 30px);
    padding-top: 20px;
    padding-bottom: 80px;
    height: 510px;
}


.category-search-subcategory li{
    list-style-type: none;
    margin-left: 20px;
    padding: 10px 0;

}

.category-search-subcategory {
    display: none;

    position: relative;
    background-color: white;
    width: calc(100% + 0px);
    left: -20px;
    border-left: 2px solid #4373ff;
}

.categories-search-left-category.subcategory-hide-show > .category-search-keyword,
.categories-search-left-category.subcategory-hide-show > .category-search-keyword a {
    left: 0;
    color: #4373FE;
}

.categories-search-left-category.subcategory-hide-show > .category-icon {
    /* visibility: visible; */
    opacity: 1;
    left: 0;
}

.categories-search-left-category.subcategory-hide-show > .category-search-amount {
    background-color: #4373ff;
    color: #FFFFFF;
    border: 1px solid #4373ff;
}

.category-search-subcategory li:hover{
    color: #4373FE;
}

.categories-search-left-category.subcategory-hide-show {
    z-index: 35;
    height: auto;
}

.categories-search-left:after{
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: #dee1ed;
    z-index: 52;
    top: 0;
    left: 99.8%;
}

.category-icon{
    /*visibility: hidden;*/
    opacity: 0;
    position: relative;
    left: -6%;
    width: 20px;
    -webkit-transition: ease 0.2s, opacity 0.4s ease;
    -moz-transition: ease 0.2s, opacity 0.4s ease;
    -ms-transition: ease 0.2s, opacity 0.4s ease;
    -o-transition: ease 0.2s, opacity 0.4s ease;
    transition: ease 0.2s, opacity 0.4s ease;
}

.subcategory-arrow {
    display: none;
    position: absolute;
    top: 43%;
    right: 23%;
}

.categories-search-left-category:hover > .subcategory-arrow{
    display: block;
}


.categories-search-left-category:hover > .category-icon {
    /*visibility: visible;*/
    opacity:1;
    left: 0;
}

.categories-search-left-category:hover > .category-search-keyword {
    left: 0;
    color: #4373ff;
}

.categories-search-left-category:hover > .category-search-amount {
    background-color: #4373ff;
    color: #FFFFFF;
    border: 1px solid #4373ff;
}


.categories-search-right {
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    width: 76.5%;
    display: inline-block;
    top: 0;
    height: 100%;
    overflow: hidden;
    padding: 40px 4% 40px 5.5%;
    box-sizing: border-box;
}

.categories-search-right-title {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    /* height: 40px; */
    /* padding: 20px 20px 0 20px; */
    line-height: 40px;
    box-sizing: border-box;
}


.categories-search-right-title .categories-search-left-title-circle {
    border: 2px solid #4373ff;
    margin-right: 15px;
}


.categories-search-left-next-prev {
    display: inline-block;
    position: absolute;
    right: 20px;
}

.categories-search-left-next-prev a:first-child {
    margin-right: 30px;
}


.categories-search-popular-deals {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 450px;
    padding-bottom: 50px;
    text-align: center;
    box-sizing: border-box;
}


/*.jcarousel {*/
/*position: relative;*/
/*overflow: hidden;*/
/*width: 100%;*/
/*margin-left: 0;*/
/*height: 100%;*/
/*}*/

/*.jcarousel li {*/
/*float: left;*/
/*width: 1060px;*/
/*height: 100%;*/
/*}*/

.recommended-deal {
    margin-top: 10px;
    /*width: 24%;*/
    text-align: left;
    width: 245px;
    height: 250px;
}

.categories-search-deals {
    width: 100%;
    padding-left: 0;
    /*overflow: hidden;*/
    padding-top: 0;
}

.slick-prev:before, .slick-next:before{
    color:red;
}

.recommended-deal-title {
    text-align: left;
    /*padding-left: 15px;*/
    width: calc(71% + 15px);
}

.recommended-deal-img {
    text-align: left;
    width: 91%;
}


.categories-search-deals .popular-deals-paper {
    display: none;
}
.categories-search-deals .popular-deals-paper:first-child {
    display: block;
}
.categories-search-deals.slick-initialized .popular-deals-paper {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*.categories-search-popular-deals:after{*/
/*content: '';*/
/*height: 1px;*/
/*width: 97%;*/
/*position: absolute;*/
/*background-color: #dee1ed;*/
/*z-index: 52;*/
/*bottom: 70px;*/
/*left: 1.5%;*/
/*}*/


.categories-search-body.passive-header {
    top: 0;
    position: relative;
    visibility: hidden;
    /*transform: none;*/
    margin: 0 auto;
    display: block;
}


.search-box img {
    vertical-align: middle;
}

.categories-search-left-category:hover svg path,
.categories-search-left-category:hover svg polygon,
.categories-search-left-category:hover svg polyline,
.categories-search-left-category:hover svg line,
.categories-search-left-category:hover svg circle,
.categories-search-left-category:hover svg rect {
    stroke: #4373ff !important;
}


.categories-search-left-category.subcategory-hide-show  svg path,
.categories-search-left-category.subcategory-hide-show  svg polygon,
.categories-search-left-category.subcategory-hide-show  svg polyline,
.categories-search-left-category.subcategory-hide-show  svg line,
.categories-search-left-category.subcategory-hide-show  svg circle,
.categories-search-left-category.subcategory-hide-show  svg rect {
    stroke: #4373ff !important;
}


.popular-deals-paper .recommended-deal {
    height: 190px;
    width: 25%;
}

.popular-deals-paper .recommended-deal-company-info > span,
.popular-deals-paper .recommended-deal-company-info > img{
    display: none;
}

.popular-deals-paper .recommended-deal-company-description {
    display: none;
}

.popular-deals-paper .recommended-deal:hover .recommended-deal-img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.popular-deals-paper .recommended-deal .recommended-deal-img:before {
    display: none;
}

.popular-deals-paper .recommended-voucher-price {
    left: 15px;
    right: auto;
    top: 15px;
    opacity: 1;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .1s linear;
}

.recommended-deal-hover {
    position: absolute;
    margin: 0 auto;
    left: 45%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 7px 10px 3px;
    display: inline-block;
    border-radius: 3px;
    visibility: hidden;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    opacity: 0;
}


.popular-deals-paper .recommended-deal:hover .recommended-deal-hover {
    visibility: visible;
    opacity: 1;
}

.popular-deals-paper .recommended-deal:hover .recommended-voucher-price {
    visibility: hidden;
    opacity: 0;
}


.popular-deals-paper .recommended-deal-company-title {
    position: absolute;
    top: auto;
    transform: translateY(100%);
    color: #777777;
    font-size: 16px;
    bottom: 20px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}


.popular-deals-paper .recommended-deal:hover .recommended-deal-company-title{
    color: #4373ff;
}

.popular-deals-paper .recommended-deal-company-info {
    position: relative;
    height: 88%;
    z-index: -1;
}

.popular-deals-paper .recommended-deal-wrap {
    position: absolute;
    top: 0;
    width: 100%;
}


.hotsale-recommended-deals-all .slick-dots li {
    margin: 0 1px;
}

.hotsale-recommended-deals-all .slick-dots li button {
    width: 10px;
}