.forgot-password-middle {
    position: relative;
    /*margin-top: 170px;*/
    width: 100%;
    max-width: 1530px;
    margin: 250px auto 290px;
    margin-top: 0;
    margin-bottom: 140px;
}

.forgot-password-page {
    top: 190px;
    position: relative;
    /*min-height: 444px;*/
}

.sign-up-popup {
    width: 49%;
    /* display: inline-block; */
    right: 0;
    position: absolute;
    height: 100%;
}

input[type="text"] {
    width: 63%;
    position: relative;
    /* top: 0; */
    /*border: 1px solid #dee1ed;*/
    resize: none;
    height: 45px;
    line-height: 45px !important;
    padding: 0 0 0 22px;
    z-index: 8;
    /* width: 230px; */
}

.submit-info {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* font-size: 20px; */
    padding: 0 20px;
    text-decoration: none;
    opacity: 1;
    border: 0;
    width: calc(63% + 22px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    height: 55px;
    line-height: 55px;
    box-sizing: border-box;
}

.submit-info:hover {
    text-decoration: none;
    opacity:0.9;
    /*margin: 0;*/
    border: 0;
}

.authentication {
    width: 63%;
    position: relative;
    margin-top: 9px;
    height: 45px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #dee1ed;
}

.type {
    display: inline-block;
    margin-right: 20px;
    padding: 9px 20px;
    border-radius: 5px;
    color: #929ab1;
    margin-bottom: 20px;
    cursor: pointer;
}

.type.active-type {
    color: white;
    background-color: #4373ff;
}

/*.user-types {*/
/*width: calc(63% + 22px);*/
/*margin: 11px auto 0;*/
/*display: flex;*/
/*justify-content: flex-start;*/
/*}*/

.sign-up-popup.password-recovery {
    position: relative;
    margin: 0 auto;
    display: block;
    margin-bottom: 250px;

}

.user-types {
    position: relative;
    text-align: center;
}

.forgot-password-text {
    position: relative;
    width: 40%;
    text-align: center;
    margin: 0 auto 50px;
}

.forgot-password-page .hotsale-footer{
    position: relative;
    /* bottom: 0; */
}

label {
    display: inline-block;
    vertical-align: middle;
}

input:focus {
    border: 1px solid #4373ff;
    color: #4373ff;
}

input:invalid:not(:focus):not(:placeholder-shown){
    border: 1px solid #fe3d33;
    color: #fe3d33;
}


::-webkit-input-placeholder {
    color:#929ab1;
}

::-moz-placeholder {
    color:#929ab1;
}

::-ms-placeholder {
    color:#929ab1;
}

::placeholder {
    color:#929ab1;
}

.password-recovery .submit-info {
    height: 45px;
    line-height: 49px;
}





@media screen and (max-width: 1450px){
    .forgot-password-page {
        /*min-height: 456px;*/
    }
}



@media screen and (max-width: 1200px){

    .forgot-password-middle {
        margin-top: 0;
        margin-bottom: 50px;
    }


    .forgot-password-text {
        margin-top: 0;
    }

}






@media screen and (max-width: 900px){

    .forgot-password-text {
        width: 60%;
        margin-top: 30px;
    }

    .sign-up-popup {
        width: 100%;
    }

    .forgot-password-page {
        top: 90px;
    }

}

@media screen and (max-width: 600px){


    .forgot-password-text {
        width: 80%;
        margin-bottom: 20px;
    }

}


