
.sign-popup {
    width: 59.37%;
    display: block;
    margin: 0 auto;
    position: fixed;
    min-height: 860px;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}


.sign-popup-active{
    visibility: visible;
    opacity:1;
}

.sign-in-popup {
    position: absolute;
    width: 49%;
    display: inline-block;
    left: 0;
    height: 100%;
}

.sign-up-popup {
    width: 49%;
    display: inline-block;
    right: 0;
    position: absolute;
    height: 100%;
}

input[type="text"] {
    width: 63%;
    position: relative;
    /* top: 0; */
    /*border: 1px solid #dee1ed;*/
    resize: none;
    height: 45px;
    line-height: 45px !important;
    padding: 0 0 0 22px;
    z-index: 8;
    /* width: 230px; */
}

.submit-info {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* font-size: 20px; */
    padding: 0 20px;
    text-decoration: none;
    opacity: 1;
    border: 0;
    width: 63%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    height: 55px;
    line-height: 55px;
    box-sizing: border-box;
}

.submit-info:hover {
    text-decoration: none;
    opacity:0.9;
    /*margin: 0;*/
    border: 0;
}

.authentication {
    width: 63%;
    position: relative;
    margin-top: 9px;
    height: 45px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #dee1ed;
    box-sizing: border-box;
}

.sign-in-title {
    width: 63%;
    position: relative;
    padding-top: 55px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.sign-in-error-message {
    width: 63%;
    position: relative;
    padding-left: 5px;
    display: block;
    margin: 5px auto;
}

.forgot-password {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 30px;
    padding-bottom: 40px;
    width: calc(63% + 22px);
    display: inline-block;
    text-align: center;
}


.sign-in-socials {
    /* display: inline-block; */
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    position: relative;
    text-align: center;
    margin-top: 15%;
}

.sign-in-top {
    /*height: 430px;*/
    position: relative;
    width: 100%;
}

.sign-in-bottom {
    /*height: 300px;*/
    position: relative;
    width: 100%;
}

a.sign-in-fb img {
    /* margin-top: 20px; */
}

a.sign-in-google img {
    margin-top: 20px;
}


.sign-in-top:after {
    content: '';
    height: 1px;
    width: calc(63% + 22px);
    position: absolute;
    background-color: #e1e1e1;
    z-index: 52;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
}

.sign-in-popup:after {
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: #dee1ed;
    z-index: 52;
    top: 0;
    left: 100%;
}


.username-or-social {
    position: absolute;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 31px;
    z-index: 60;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    background-color: #f1f1f1;
}


.control-group {
    width: 63%;
    position: relative;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    display: block;
    margin: 0 auto;
    /* top: -13px; */
    margin-top: 12px;
}



.accept-terms {
    width: 63%;
    position: relative;
    display: block;
    margin: 10px auto;
}



input[type='checkbox']{
    width: auto;
    margin: 0;
    position: relative;
    /* left: 50%; */
    height: auto;
    /* transform: translateX(-50%); */
}

label {
    display: inline-block;
    vertical-align: middle;
}

input:focus {
    border: 1px solid #4373ff;
    color: #4373ff;
}

input:invalid:not(:focus):not(:placeholder-shown){
    border: 1px solid #fe3d33;
    color: #fe3d33;
}

select{
    background: url('../image/bottom-arrow.png') no-repeat 85% 48%;
}

select#dob-day {
    width: 26%;
    height: 45px;
    border: 1px solid #dbdbdb;
    padding-left: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* padding: 5px; */
    position: relative;
    left: 0;
    line-height: 47px;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

select#dob-month {
    width: 40%;
    height: 45px;
    border: 1px solid #dbdbdb;
    padding-left: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 47px;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

select#dob-year {
    width: 26%;
    height: 45px;
    border: 1px solid #dbdbdb;
    padding-left: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    right: 0;
    line-height: 47px;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


input#mobile,
input#id{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number] {
    -moz-appearance:none;
}


input#mobile::-webkit-inner-spin-button,
input#mobile::-webkit-outer-spin-button,
input#id::-webkit-inner-spin-button,
input#id::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


.controls {
    position: relative;
    color: #dbdbdb;
}

::-webkit-input-placeholder {
    color:#929ab1;
}

::-moz-placeholder {
    color:#929ab1;
}

::-ms-placeholder {
    color:#929ab1;
}

::placeholder {
    color:#929ab1;
}


.sign-popup .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
}


.accept-terms a:hover {
    color: #4373ff;
}

.accept-terms a {
    color: #929ab1;
}

.sign-page.sign-popup {
    visibility: visible;
    opacity: 1;
    margin-top: 180px;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    max-width: 1265px;
}


.type {
    display: inline-block;
    margin-right: 20px;
    padding: 9px 20px;
    border-radius: 5px;
    color: #929ab1;
    margin-bottom: 20px;
    cursor: pointer;
}

.type.active-type {
    color: white;
    background-color: #4373ff;
}


.user-types {
    width: 63%;
    margin: 11px auto 0;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.user-name-surname .authentication {
    flex: 1;
    /* width: auto; */
    left: 0;
    transform: translateX(0);
    padding-right: 10px;
}

.user-name-surname {
    width: 63%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 12px;
    box-sizing: border-box;
}


.user-name-surname .authentication:first-child {
    margin-right: 5px;
    margin-top: 0;
}

.user-name-surname .authentication:last-child {
    margin-left: 5px;
    margin-top: 0;
    /* flex: 3; */
}


.sign-up-popup .authentication {
    margin-top: 10px;
}

.sign-up-popup input {
    padding-left: 15px;
    box-sizing: border-box;
}


.user-name-surname > div {
    width: 49%;
}

.user-name-surname > div .authentication {
    width: 100%;
}

.user-name-surname > div .sign-in-error-message {
    display: inline-block;
    width: 100%;
}


.accept-terms .sign-in-error-message {
    width: 100%;
}





@media screen and (max-width: 1450px){


    .sign-page.sign-popup {
        max-width: 1050px;
        height: 800px;
        margin-top: 170px;
    }

    .sign-in-title {
        padding-top: 55px;
    }
}



@media screen and (max-width: 1200px){

    .sign-page.sign-popup {
        width: 95.37% !important;
        margin-top: 140px;
    }

}

