.technology-deals-filter {
    display: flex;
    align-items: flex-start;
}

.technology-filter {
    width: 24%;
    position: relative;
    /*height: 200px;*/
    display: inline-block;
    margin-right: 1.9%;
    margin-top: 15px;
    border-radius: 5px;
}

.technology-filter-category {
    padding: 25px;
    position: relative;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.technology-filter-category img {
    width: 8px;
}

.technology-filter-categories-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.technology-category-filter{
    color: #7f7f7f;
    padding-left: 0;
    display: none;
}



.technology-category-filter li{
    list-style-type: none;
    /* -webkit-padding-start: 15px !important; */
    margin: 15px 0;
    position: relative;
}


.technology-category-filter li:after{
    content: '';

}

.technology-filter-brand {
    padding: 25px;
    position: relative;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 30px 0;
}

.technology-filter-price {
    padding: 25px;
    position: relative;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.technology-category-filter li input {
    margin-right: 15px;
}

.subcategories {
    border-left: 1px solid #4373ff;
    display: none;
}

.technology-category-filter li label {
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -ms-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
    transition: color 0.1s ease;
}




input[type=checkbox]:checked + label {
    color: #4373ff;
}

input[type=checkbox]:checked ~ .subcategories{
   /*display: block;*/
}

.technology-filter-category li img {
    position: absolute;
    right: 0;
    top: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.technology-filter-category li img.rotated {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
}


.range-from-to {
    width: 100%;
    position: relative;
    border: 1px solid #dee1ed;
    border-radius: 5px;
    height: 58px;
    line-height: 58px;
    margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.range-from-to input {
    width: 26%;
    border: none;
    height: 45px;
    text-align: right;
}


.range-from-to input:last-child {
    border-left: 1px solid #dee1ed;
    border-radius: 0;
}

.search-btn-categories {
    height: 50px;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 0;
    line-height: 50px;
}


.range-from-to:after {
    content: '';
    background-color: #dee1ed;
    height: 70%;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 15%;
}
















.head_menu_sub_dropdown {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 2566px;
    z-index: 814;
}
.Shape_797_copy_3 {
    background-color: rgb(235, 235, 235);
    position: absolute;
    left: 504px;
    top: 387px;
    width: 230px;
    height: 1px;
    z-index: 813;
}
.Shape_797_copy_2 {
    background-color: rgb(235, 235, 235);
    position: absolute;
    left: 504px;
    top: 326px;
    width: 230px;
    height: 1px;
    z-index: 812;
}
.Shape_797_copy {
    background-color: rgb(235, 235, 235);
    position: absolute;
    left: 504px;
    top: 266px;
    width: 230px;
    height: 1px;
    z-index: 811;
}
.Shape_797 {
    background-color: rgb(235, 235, 235);
    position: absolute;
    left: 504px;
    top: 206px;
    width: 230px;
    height: 1px;
    z-index: 810;
}
.კინოთეატრები_თეატრი_ხელოვნება_აზარტული_თამაშები {
    font-size: 14px;
    font-family: "BPG Nino Mtavruli";
    color: rgb(67, 115, 255);
    font-weight: bold;
    line-height: 4.286;
    text-align: right;
    position: absolute;
    left: 533.516px;
    top: 205.729px;
    z-index: 806;
}
.Shape_805 {
    background-color: rgb(67, 115, 255);
    position: absolute;
    left: 504px;
    top: 138px;
    width: 230px;
    height: 2px;
    z-index: 805;
}
.Rounded_Rectangle_795 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 30px 30px 0px rgba(49, 49, 54, 0.15);
    position: absolute;
    left: 504px;
    top: 140px;
    width: 230px;
    height: 310px;
    z-index: 804;
}


.sub_nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 2566px;
    z-index: 802;
}
.Shape_797_copy_2 {
    background-color: rgb(235, 235, 235);
    position: absolute;
    left: 734px;
    top: 326px;
    width: 230px;
    height: 1px;
    z-index: 801;
}
.Shape_797_copy {
    background-color: rgb(235, 235, 235);
    position: absolute;
    left: 734px;
    top: 266px;
    width: 230px;
    height: 1px;
    z-index: 800;
}
.Shape_797 {
    background-color: rgb(235, 235, 235);
    position: absolute;
    left: 734px;
    top: 206px;
    width: 230px;
    height: 1px;
    z-index: 799;
}
.Ellipse_813 {
    border-radius: 50%;
    background-color: rgb(67, 115, 255);
    position: absolute;
    left: 764px;
    top: 234px;
    width: 4px;
    height: 4px;
    z-index: 798;
}
.რუსთაველი______ამირანი_აპოლო_კავეა {
    font-size: 14px;
    font-family: "BPG Nino Mtavruli";
    color: rgb(159, 159, 159);
    font-weight: bold;
    line-height: 4.286;
    text-align: right;
    position: absolute;
    left: 763.516px;
    top: 205.979px;
    z-index: 797;
}
.Shape_805 {
    background-color: rgb(67, 115, 255);
    position: absolute;
    left: 734px;
    top: 138px;
    width: 230px;
    height: 2px;
    z-index: 796;
}
.Rounded_Rectangle_795 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 30px 30px 0px rgba(49, 49, 54, 0.15);
    position: absolute;
    left: 734px;
    top: 140px;
    width: 230px;
    height: 248px;
    z-index: 795;
}






