.technology-deals-filter {
    display: flex;
    align-items: flex-start;
}

.technology-filter {
    width: 24%;
    position: relative;
    /*height: 200px;*/
    display: inline-block;
    margin-right: 1.9%;
    margin-top: 15px;
    border-radius: 5px;
}

.technology-filter-category {
    padding: 25px;
    position: relative;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.technology-filter-category img {
    width: 8px;
}

.technology-filter-categories-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.technology-category-filter{
    color: #7f7f7f;
    padding-left: 0;
    display: none;
}



.technology-category-filter li{
    list-style-type: none;
    /* -webkit-padding-start: 15px !important; */
    margin: 15px 0;
    position: relative;
}


.technology-category-filter li:after{
    content: '';

}

.technology-filter-brand {
    padding: 25px;
    position: relative;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 30px 0;
}

.technology-filter-price {
    padding: 25px;
    position: relative;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.technology-category-filter li input {
    margin-right: 15px;
}

.subcategories {
    border-left: 1px solid #4373ff;
    display: none;
}

.technology-category-filter li label {
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -ms-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
    transition: color 0.1s ease;
}




input[type=checkbox]:checked + label {
    color: #4373ff;
}

input[type=checkbox]:checked ~ .subcategories{
   /*display: block;*/
}

.technology-filter-category li img {
    position: absolute;
    right: 0;
    top: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.technology-filter-category li img.rotated {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
}